<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  {{- partial "header.html" . -}}
  <main class="container">
    {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}
  {{- partial "repo-data-json.html" . -}}
  <script src="{{ "js/repo-picker.js" | relURL }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
  <script src="{{ "js/charts.js" | relURL }}"></script>
</body>
</html>
