{{/*
  Time Breakdown Partial

  Usage: {{ partial "time-breakdown.html" (dict "data" $metrics.response_time) }}

  Parameters:
    - data: Object with avg_hours, median_hours, p90_hours, p95_hours

  Note: Values >= 24 hours are automatically displayed as days (e.g., "2d" instead of "48h")
*/}}

{{ $data := .data }}

<div class="time-breakdown">
  <div class="item">
    <div class="value">{{ partial "format-hours.html" $data.avg_hours }}</div>
    <div class="label">Average</div>
  </div>
  <div class="item">
    <div class="value">{{ partial "format-hours.html" $data.median_hours }}</div>
    <div class="label">Median</div>
  </div>
  <div class="item">
    <div class="value">{{ partial "format-hours.html" $data.p90_hours }}</div>
    <div class="label">P90</div>
  </div>
  <div class="item">
    <div class="value">{{ partial "format-hours.html" $data.p95_hours }}</div>
    <div class="label">P95</div>
  </div>
</div>
